
.product__container{
  display: flex;
}

.products__item{
  display: flex;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product__col{
  display: flex;

  &--cover{
    justify-content: space-between;
    align-items: center;

    @include tablets{
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &--text{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 46%;

    @include tablets{
      width: 92%;
    }
  }

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @include phones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.product__photo__img{
  margin-right: rem(59px);
  
  @include tablets{
    width: rem(306px);
    height: rem(306px);
    margin-right: 0;
    margin-bottom: rem(49px);
  }
}

.product__content{
  text-align: left;

  @include tablets{
    text-align: center;
  }
}

.product__title{
  text-align: left;
  margin-bottom: rem(24px);
  line-height: 1.1;
  width: 124%;

  @include tablets{
    text-align: center;
    width: 100%;
    font-size: rem(28px);
  }
}

.product__desc{
  margin-bottom: rem(27px);
}

.product-feature__list{
  display: flex;

  @include tablets{ 
    justify-content: center;
  }
}

.product-feature__item{
  margin-right: rem(86px);
  margin-bottom: rem(24px);

  &:last-child{
    margin-right: 0;
  }

}

.product-feature__value{
  font-family: $font-stack2;
  font-weight: bold;
  font-size: rem(18px);
}

.product__price{
  display: flex;
  align-items: center;

  @include tablets{
    justify-content: center;
  }
}

.product__price-value{
  font-family: $font-stack2;
  font-size: rem(36px);
  margin-right: rem(13px);
}



