.fullscreen-menu{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #313131;

  @include tablets {
    display: flex;
    flex-direction: column;
    z-index: $z-fullscreen-menu;
  }

  @include phones{ 
    display: flex;
    flex-direction: column;
    z-index: $z-fullscreen-menu;
  }
}

.fullscreen-menu__close{
  display: flex;
  justify-content: flex-end;
  margin: rem(42px) rem(42px);
}

.fullscreen-menu__close-icon{
  display: block;
  height: rem(20px);
  width: rem(20px);
  align-items: flex-end;
}