
.interactive-avatar{
  width: 4.7rem;
  height: 4.7rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &.active{
    height: 4.625rem;
    width: 4.625rem;
    border-radius: 50%;
    border: 0.25rem solid #E01F3D;
    overflow: hidden;
    position: relative;
  }
}






