.product-slider__arrow--next{
  position: absolute;
  top: 41%;
  left: 92%;
  transform: translateY(-41%);
}

.product-slider__arrow--prev{
  position: absolute;
  top: 41%;
  left: 5%;
  transform: translateY(-41%);
}


